<p>What ingredient would you like to search?</p>
<form  method="post" action="/import/">
  <div class="form-group">
    <label for="ingredient">Ingredient</label>
    <input type="text" name="ingredient" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
