<p>
  What would you like to do?
</p>

<p><a href="/list">List All Recipes</a></p>
<p><a href="/create">Create New Recipe</a></p>
<p><a href="/remove">Remove Recipe</a></p>
<p><a href="/mark-complete">Mark Recipe Complete</a></p>
<p><a href="/import">Import Recipes</a></p>


