<%recipes = @cookbook.all%>
<p>Which Recipe Would You Like To Remove?</p>
<form method="post" action="/remove/">
<%recipes.each_with_index do |recipe, i|%>
<div class="radio">
  <label>
    <input type="radio" name="recipe_choice" value="<%=i%>"> <%=recipe.name%> (<%=recipe.cooking_time%> min)
  </label>
</div>
    <%end%>
      <input type="submit" value="Remove"/>
</form>
